.p-15 {
    padding-left: 1em;
    padding-right: 1em;
}
.b-icon {
    height: 2em;
    width: 2em;
}
.text-1{
    margin-left: 1em;
    font: 13px/15px Arial;
    color: darkgray;
}

.i-text-1{
    font: 15px/18px Arial;
    color: orange;
}
.i-text-11{
    font: 15px/18px Arial;
    color: green;
}
.i-text-111{
    font: 15px/18px Arial;
    color: red;
}
.i-text-2{
    font: 15px/18px Arial;
    color:darkgray;
}

.i-text-3{
    font: 13px/15px Arial;
    color:orange;
}

.i-text-4{
    font: 13px/15px Arial;
    color: green;
}

.h-margin{
    margin-left: 1.5em;    
    margin-right: 1.5em;
}
.top-margin{
    margin-top: 0.5em;    

}


.m-input {
    margin-top: 0.5em;
    --placeholder-color:initial;
    --placeholder-font-style:initial;
    --placeholder-font-weight:initial;
    --placeholder-opacity:.5;
    --padding-top:0;
    --padding-end:0;
    --padding-bottom:0;
    --padding-start:0;
    --background:transparent;
    --color:initial;
    position:relative;
    -ms-flex-align:center;
    align-items:center;
    padding:0 !important;
    z-index:2;

    border-radius:var(--border-radius);
    padding-left:var(--padding-start);
    padding-right:var(--padding-end);
    padding-top:var(--padding-top);
    padding-bottom:var(--padding-bottom);
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    letter-spacing:inherit;
    text-decoration:inherit;
    text-indent:inherit;
    text-overflow:inherit;
    text-transform:inherit;
    text-align:inherit;
    white-space:inherit;
    color:inherit;
    display:inline-block;
    -ms-flex:1;
    flex:1;
    width:100%;
    max-width:100%;
    max-height:100%;
    border:0;
    outline:none;
    background:transparent;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none

}


.u-but {
    width: 80%;
    margin-left: auto;margin-right: auto;
    margin-top: 1em;
}

.b-text {
    font: 15px/18px Arial;
    color: yellowgreen;
}

.b-text-1 {
    font: 17px/20px Arial;

}

.t-line {
    border-top: 1px solid darkgray;
}

.a-center {
    text-align: center;
}

.a-right {
    text-align: right;
}

.item-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.but-3{
    margin: 0;
}

.react-dadata__input{
    /* margin-top: 0.5em; */
    --placeholder-color:initial;
    --placeholder-font-style:initial;
    --placeholder-font-weight:initial;
    --placeholder-opacity:.5;
    --padding-top:0;
    --padding-end:0;
    --padding-bottom:0;
    --padding-start:0;
    --background:transparent;
    --color:initial;
    /* position:relative; */
    -ms-flex-align:center;
    align-items:center;
    padding:0 !important;
    border: 0px none black;
    z-index:2;

    /* border-radius:var(--border-radius); */
    padding-left:var(--padding-start);
    padding-right:var(--padding-end);
    padding-top:var(--padding-top);
    padding-bottom:var(--padding-bottom);
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    letter-spacing:inherit;
    text-decoration:inherit;
    text-indent:inherit;
    text-overflow:inherit;
    text-transform:inherit;
    text-align:inherit;
    white-space:inherit;
    color:inherit;
    display:inline-block;
    -ms-flex:1;
    flex:1;
    width:100%;
    max-width:100%;
    max-height:100%;
    /* border:0; */
    outline:none;
    background:transparent;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.react-dadata__container {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
    margin-left: 1.5em;
    margin-right: 1.5em;
}